<div class="text-center" style="padding: 20px; margin-top: 50px">
<form action="post">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form>
</div>
